.EventSlider__around {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;

    .EventSlider__detail {
        position: relative;
        // padding: 0 30px;
        border-radius: 20px;
        // &__image {
        //     border-radius: 20px;
        //     width: 100%;
        //     height: 600px;
        //     margin: 0 auto;
        //     filter: brightness(70%);
        // }
        h1 {
            position: absolute;
            top: 30%;
            left: 10%;

            font-weight: "bold !important";
            font-family: Wallpoet !important;
            text-transform: uppercase;
            // background: -webkit-linear-gradient(#c31432, #2c5364);
            // -webkit-text-fill-color: transparent;
            // -webkit-background-clip: text;

            color: white;
            font-size: 3.5em;
            letter-spacing: 3px;
            text-shadow: 2px 2px 5px grey;
        }
        h2 {
            position: absolute;
            top: 45%;
            left: 10%;

            color: white;
            font-size: 1.5em;
            font-weight: normal;
            letter-spacing: 5px;
            text-shadow: 2px 2px 5px grey;
        }
        Button {
            position: absolute;
            top: 55%;
            left: 10%;
            background-color: #db36a4;
        }
    }
}
.slick-dots {
    position: absolute;
    width: 7%;
    top: 70%;
    left: 9%;
}
.slick-dots li button:before {
    font-size: 15px;
    color: wheat;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #db36a4;
}
.slick-dots li button:hover:before {
    opacity: 1;
    color: white;
}

// =========toys==============

.hometoys {
    margin: 50px 0;
    .ShineEffect {
        position: relative;
    }
    .ShineEffect::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

    .ShineEffect:hover::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
    }
    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }
}

.gradient-background {
    background: linear-gradient(95deg, #ece9e6, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// ===============================

// @-webkit-keyframes fall {
//     0% {
//         opacity: 0.9;
//         top: 0
//     }
//     100% {
//         opacity: 0.2;
//         top: 100%
//     }
// }

// @keyframes fall {
//     0% {
//         opacity: 0.9;
//         top: 0
//     }
//     100% {
//         opacity: 0.2;
//         top: 100%
//     }
// }

// @-webkit-keyframes blow-soft-left {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: -50%
//     }
// }

// @keyframes blow-soft-left {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: -50%
//     }
// }

// @-webkit-keyframes blow-medium-left {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: -100%
//     }
// }

// @keyframes blow-medium-left {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: -100%
//     }
// }

// @-webkit-keyframes blow-soft-right {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: 50%
//     }
// }

// @keyframes blow-soft-right {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: 50%
//     }
// }

// @-webkit-keyframes blow-medium-right {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: 100%
//     }
// }

// @keyframes blow-medium-right {
//     0% {
//         margin-left: 0
//     }
//     100% {
//         margin-left: 100%
//     }
// }

// @-webkit-keyframes sway-0 {
//     0% {
//         -webkit-transform: rotate(-5deg)
//     }
//     40% {
//         -webkit-transform: rotate(28deg)
//     }
//     100% {
//         -webkit-transform: rotate(3deg)
//     }
// }

// @keyframes sway-0 {
//     0% {
//         -ms-transform: rotate(-5deg);
//         transform: rotate(-5deg)
//     }
//     40% {
//         -ms-transform: rotate(28deg);
//         transform: rotate(28deg)
//     }
//     100% {
//         -ms-transform: rotate(3deg);
//         transform: rotate(3deg)
//     }
// }

// @-webkit-keyframes sway-1 {
//     0% {
//         -webkit-transform: rotate(10deg)
//     }
//     40% {
//         -webkit-transform: rotate(43deg)
//     }
//     100% {
//         -webkit-transform: rotate(15deg)
//     }
// }

// @keyframes sway-1 {
//     0% {
//         -ms-transform: rotate(10deg);
//         transform: rotate(10deg)
//     }
//     40% {
//         -ms-transform: rotate(43deg);
//         transform: rotate(43deg)
//     }
//     100% {
//         -ms-transform: rotate(15deg);
//         transform: rotate(15deg)
//     }
// }

// @-webkit-keyframes sway-2 {
//     0% {
//         -webkit-transform: rotate(15deg)
//     }
//     40% {
//         -webkit-transform: rotate(56deg)
//     }
//     100% {
//         -webkit-transform: rotate(22deg)
//     }
// }

// @keyframes sway-2 {
//     0% {
//         -ms-transform: rotate(15deg);
//         transform: rotate(15deg)
//     }
//     40% {
//         -ms-transform: rotate(56deg);
//         transform: rotate(56deg)
//     }
//     100% {
//         -ms-transform: rotate(22deg);
//         transform: rotate(22deg)
//     }
// }

// @-webkit-keyframes sway-3 {
//     0% {
//         -webkit-transform: rotate(25deg)
//     }
//     40% {
//         -webkit-transform: rotate(74deg)
//     }
//     100% {
//         -webkit-transform: rotate(37deg)
//     }
// }

// @keyframes sway-3 {
//     0% {
//         -ms-transform: rotate(25deg);
//         transform: rotate(25deg)
//     }
//     40% {
//         -ms-transform: rotate(74deg);
//         transform: rotate(74deg)
//     }
//     100% {
//         -ms-transform: rotate(37deg);
//         transform: rotate(37deg)
//     }
// }

// @-webkit-keyframes sway-4 {
//     0% {
//         -webkit-transform: rotate(40deg)
//     }
//     40% {
//         -webkit-transform: rotate(68deg)
//     }
//     100% {
//         -webkit-transform: rotate(25deg)
//     }
// }

// @keyframes sway-4 {
//     0% {
//         -ms-transform: rotate(40deg);
//         transform: rotate(40deg)
//     }
//     40% {
//         -ms-transform: rotate(68deg);
//         transform: rotate(68deg)
//     }
//     100% {
//         -ms-transform: rotate(25deg);
//         transform: rotate(25deg)
//     }
// }

// @-webkit-keyframes sway-5 {
//     0% {
//         -webkit-transform: rotate(50deg)
//     }
//     40% {
//         -webkit-transform: rotate(78deg)
//     }
//     100% {
//         -webkit-transform: rotate(40deg)
//     }
// }

// @keyframes sway-5 {
//     0% {
//         -ms-transform: rotate(50deg);
//         transform: rotate(50deg)
//     }
//     40% {
//         -ms-transform: rotate(78deg);
//         transform: rotate(78deg)
//     }
//     100% {
//         -ms-transform: rotate(40deg);
//         transform: rotate(40deg)
//     }
// }

// @-webkit-keyframes sway-6 {
//     0% {
//         -webkit-transform: rotate(65deg)
//     }
//     40% {
//         -webkit-transform: rotate(92deg)
//     }
//     100% {
//         -webkit-transform: rotate(58deg)
//     }
// }

// @keyframes sway-6 {
//     0% {
//         -ms-transform: rotate(65deg);
//         transform: rotate(65deg)
//     }
//     40% {
//         -ms-transform: rotate(92deg);
//         transform: rotate(92deg)
//     }
//     100% {
//         -ms-transform: rotate(58deg);
//         transform: rotate(58deg)
//     }
// }

// @-webkit-keyframes sway-7 {
//     0% {
//         -webkit-transform: rotate(72deg)
//     }
//     40% {
//         -webkit-transform: rotate(118deg)
//     }
//     100% {
//         -webkit-transform: rotate(68deg)
//     }
// }

// @keyframes sway-7 {
//     0% {
//         -ms-transform: rotate(72deg);
//         transform: rotate(72deg)
//     }
//     40% {
//         -ms-transform: rotate(118deg);
//         transform: rotate(118deg)
//     }
//     100% {
//         -ms-transform: rotate(68deg);
//         transform: rotate(68deg)
//     }
// }

// @-webkit-keyframes sway-8 {
//     0% {
//         -webkit-transform: rotate(94deg)
//     }
//     40% {
//         -webkit-transform: rotate(136deg)
//     }
//     100% {
//         -webkit-transform: rotate(82deg)
//     }
// }

// @keyframes sway-8 {
//     0% {
//         -ms-transform: rotate(94deg);
//         transform: rotate(94deg)
//     }
//     40% {
//         -ms-transform: rotate(136deg);
//         transform: rotate(136deg)
//     }
//     100% {
//         -ms-transform: rotate(82deg);
//         transform: rotate(82deg)
//     }
// }

// .sakura {
//    /* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
//     background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
//     background: red;
//     pointer-events: none;
//     position: absolute
// }

// .sakura {
//   background:#674ea7;
// }

/*******************************/
