.title1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 10px 0;
}

.title2 {
    color: grey;
    text-align: center;
    margin: 10px 0;
}

.btn-login {
    padding: 16px !important;
    box-shadow: none !important;
    background: linear-gradient(45deg, #edd52f, #ff126e) !important;
}