.ChatView {
    height: 100vh;

    ::-webkit-scrollbar {
        width: 10px;
        // display: none;
    }
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    ::-webkit-scrollbar-thumb {
        background: #f8cdda; /* fallback for old browsers */
        border-radius: 10px;
        transition: 1s;
    }
    .ChatHeader {
        height: 85px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(230, 230, 230);
        box-shadow: 0px 15px 10px -15px #111;
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .ChatContent {
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        .MessageList {
            max-height: 100%;
            max-width: 100%;
            overflow-y: auto;
        }
    }
}
