* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    background-color: rgb(244, 244, 244);
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: pink;
}
.swal2-container {
    z-index: 99999 !important;
}
